.transactionHistory {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 60vw;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

}

.heading,
table td {
    padding: 10px;
}

th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    background: rgb(3, 165, 194);
    color: aliceblue;
}

th:not(:last-child) {
    border-right: 1px solid rgb(255, 255, 255);
}

th:nth-child(1) {
    border-radius: 4px 0 0 0;
}

th:last-child {
    border-radius: 0 4px 0 0;
}

tr:nth-child(2n) {
    background: rgba(205, 201, 255, 0.466);
}

td:not(:nth-child(3n)){
    border-right: 1px solid rgb(146, 144, 144);
}

.type {
    text-transform: capitalize;
    text-align: left;
    padding-left: 12%;
}